body {
  font-family: Arial, sans-serif;
  background-image: radial-gradient(#87abad 1.3px, transparent 1.3px), radial-gradient(#b039ff 1.3px, rgb(13,17,23) 1.3px);
  background-size: 52px 52px;
  background-position: 0 0, 26px 26px;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; 
}

.top-row {
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.bottom-row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  mix-blend-mode: hard-light;
  text-align: center;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  font-size: 16px;
  margin: 4px 2px;
  text-align: center;
  margin-bottom: 20px;
 }

h3{
  color: rgb(15, 0, 58);
  padding: 8px 16px;
  font-size: 36px;
  margin: 4px 2px;
  text-align: center;
  margin-bottom: 20px;
}

 a{
  color: #5a81ff;
  text-decoration: none;
 }

.float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff21;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  z-index: 9999;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.float-button a {
  color: #d19191;
  text-decoration: none;
}

.float-button:hover {
  transform: translateY(-5px);
}

.time {
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 200px;
  height: fit-content;
  position: center;
  margin-bottom: 20px;
  background-color: #ffffff21;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

#clock {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(55, 105, 82);
  text-align: center;
}

#date {
  font-size: 24px;
  margin-bottom: 10px;
  color: #d37d0d;
  text-align: center;
}

#quote{
  font-size: 20px;
  margin-top: -10px;
  color: #d6d8f7;
  text-align: center;
}

.column {
  margin: 0 1rem;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 500px;
  position: center;
  margin-bottom: 20px;
  background-color: #ffffff21;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.News{
  margin: 0 1rem;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 500px;
  height: 12cm;
  position: center;
  margin-bottom: 20px;
  background-color: #ffffff21;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  overflow: auto;
}

img{
  border-radius: 25px;
}

a.card-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p{
  margin-top: -25px;
  color:rgb(0, 0, 0);
  font-size: medium;
  text-align: center;
}

h4{
  color:rgb(255, 255, 255);
  font-size: 75%;
  margin-top: 5px;
  margin-bottom: -25px;
}

.vid-1{
  border-radius: 15px;
  display: none;
}

.vid-2{
  border-radius: 15px;
  display: none;
}

.vid-3{
  border-radius: 15px;
  display: none;
}

.vid-4{
  border-radius: 15px;
  display: none;
}

.weather-widget {
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 200px;
    height: fit-content;
    position: center;
    margin-bottom: 20px;
    background-color: #ffffff21;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .location {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .city {
    font-size: 24px;
    font-weight: bold;
  }
  
  .country {
    font-size: 16px;
  }
  
  .icon-container {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .temperature {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .temp {
    font-size: 60px;
  }
  
  .unit {
    font-size: 24px;
    margin-left: 5px;
  }
  
  .description {
    text-align: center;
  }
  
  .condition {
    font-size: 18px;
    font-weight: bold;
  }
  
  .humidity {
    font-size: 16px;
    margin-left: 5px;
  }
  
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #6070ff; 
  border-radius: 20px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #435b5b;
  border-radius: 15px; 
}

::-webkit-scrollbar-track:hover {
  background-color: #ddd; 
}

input[type="checkbox"] {
  display: none; 
}

input[type="checkbox"] + label {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding-left: 25px;
  position: relative;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

input[type="checkbox"]:checked + label:before {
  content: "\2714"; 
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  text-align: center;
}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}