.weather-widget {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    position: center;
  }
  
  .location {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .city {
    font-size: 24px;
    font-weight: bold;
  }
  
  .country {
    font-size: 16px;
  }
  
  .icon-container {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .temperature {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .temp {
    font-size: 60px;
  }
  
  .unit {
    font-size: 24px;
    margin-left: 5px;
  }
  
  .description {
    text-align: center;
  }
  
  .condition {
    font-size: 18px;
    font-weight: bold;
  }
  
  .humidity {
    font-size: 16px;
    margin-left: 5px;
  }
  